@import "tailwindcss";

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@theme {
  --font-family-oswald: var(--font-oswald), sans-serif;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-medium: 500;
}

h1 {
  font-family: var(--font-family-oswald);
  font-weight: var(--font-weight-medium); 
}

p {
  font-family: var(--font-family-oswald);
  font-weight: var(--font-weight-light); 
}


button {
   font-family: var(--font-family-oswald);
   font-weight: var(--font-weight-extralight); 
}

input{
  font-family: var(--font-family-oswald);
  font-weight: var(--font-weight-extralight);
}
